<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="..\dependencies\packages" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	<add key="Lectra" value="http://repository-artifactory.lectra.com/artifactory/api/nuget/nuget" />
  </packageSources>
</configuration>
